* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
}

body {
    width: 100%;

    overflow-x: hidden;
}

nav {
    width: 100%;
    height: 100px;

    display: flex;
    list-style: none;
}

nav li {
    height: 100%;

    display: flex;
    align-items: center;

    margin-left: 40px;
}

main {
    display: flex;
    flex-direction: column;
}

.hero-container {
    display: flex;
    justify-self: space-between;
    height: calc(100vh - 100px);

    background: url('image.png');
    background-position: right bottom 40%;
    background-size: cover;
    background-repeat: no-repeat;

    z-index: -2;
}

.left-section {
    height: 100%;
    width: 40vw;
    
    position: relative;

    color: #fff;
}

.left-section-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left-section-bg {
    height: calc(100vh - 100px);
    width: 40vw;

    position: absolute;
    top: 0;
    left: 0;

    background-color: #171E2C;
    clip-path: inset(0);

    z-index: -1;

    transition: 150ms ease-out;
}

.plane-svg-cont {
    width: 40vw;
    position: relative;
}

.plane-svg-cont img {
    width: 200vh;
    height: auto;
    
    position: absolute;
    right: 0;
    transform: translateX(51%);
    /* transform: translateX(5vw); */
}

.right-section {
    width: 60vw;

    z-index: -2;
    overflow: hidden;
}

h1 {
    border-top: 1px solid red;
    height: 100vh;
}